.wallpaper {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 500px;
}

.fileListTable {
  height: 300px;
  padding: 8px;
  overflow: auto;
  border: solid 1px black;
}

.functionBtn {
  margin: 8px;
  width: 80px;
}

.fileList {
  padding: 8px;
  cursor: pointer;
}

.fileContents {
  width: 100%;
}

button {
  width: 100%;
}

textarea {
  resize: none;
  width: 98.8%;
  height: 400px;
}

small {
  display: inline;
}
